						
body
{
	padding: 0%;
	margin: 0%;
	background-color:wheat; 
}
/*da estilo al h1 del frm registro */
h1.h1registro
{
	height: 15%;
	margin-top: -15%;
	padding-left: 42%;
	padding-top: -1%;
}
/*estilo para todos los botones*/
button
{
	width: 25%;
	height: 45px;
}
/*estilo del btn login accept*/
button.log_accept
{
	margin-left: -85%;
}
/*estilo del div btn accept registro*/
div.div_btn_acept_register
{
	width: 16%;
	height: 52px;
	margin-top: 2%;
	padding-top: 1%;
	margin-left: 45%;
}
/*estilo del div btn cancel registro*/
div.div_btn_cancel_register
{
	width: 16%;
	padding-top: 0.5%;
	height: 52px;
	margin-top: -11%;
	margin-left: 53%;
}
/*para hacer una sombra*/
.sombra
{
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 0px 14px #999;
}
/*para colocar color al mensaje mostrado si hay error*/
.errorfields
{
	color: red;
}
/*clase para la posicion del modal del boton redactar*/
.derecha{
	margin-top: 9.2%;
	margin-right: -51%;
}
.footnewmensaje{
	margin-right: 14%;
}
/*para modificar el titulo que trae el nombre del correo 'mailto'*/
.navtitulo
{
	margin-top: -1.6%;
	width: 100%;
}
/*para darle color al nav del titulo del correo*/
.navtitulo.color{
	background-color: #A18FFF;
}
/*para darle posicion a los botones de borrador,salida,enviados*/
.posicion.navt{
	margin-top: -2%;    
	margin-left: 0;
}
/*para colocar al menú que desplegara los botones de pestañas salida,borrador,enviados*/
.btnmenu{
	width:4%;
	padding-left: -1%;
	border-radius: inherit;
}
/*para poner color al momento del mouse hover*/
.btnmenu:hover{
	background-color:#2F45FC;
}
/*para quitar color al momento del mouse hover*/
.btnmenu:not(:hover){
	background-color:inherit;
}
/*para la posicion del boton redactar*/
.botonnuevot
{
	width: 46.7%;
	margin-top: -1%;
	background-color: inherit;
}
/*evento hover del bton redactar*/
.botonnuevo:hover
{
	color: brown;
	background-color: aqua;
}
/*para la posicion de los botones redactar,salida,enviados*/
.divbandejas
{
	padding-left: 0%;
	margin-top: 0.1%;
	padding-bottom: 0.2%;
}
/*para los redactar ,salida,borrador*/	
.bajarunpoco.grande
{
	width: 159%;	
	color: brown;
	background-color:transparent;
}
/*hover de botones salida,borrador,enviados*/
.bajarunpoco.grande:hover{
	background-color: aqua;
}
/*quitar fondo a los botones salida,enviados,redactar,borrador*/
.quitarfondo{
	border: inherit;
	color: black;	
}
.colorinicial{
	width: 159%;	
	color: brown;
	background-color: aqua;
	border: inherit;
	color: black;	
}
/*dar color a los botones*/
.btnmenucolor{
	width: 159%;	
	background-color: aqua;
}
/*quitar color a los botones*/
.btnmenusincolor{
	background-color:transparent;		
}
/*para la parte donde se ven los correos*/		
.vermensajes
{
	margin-left: 20%;
	margin-top: -15%;
	width: 75%;
}
/*para que al ocultar el menú no se oculten los mensajes*/
.vermensajeshide{
margin-left: 20%;
	margin-top: -1.8%;
	width: 75%;
}	
/*para el textoque indica al usuario como ver correos*/

/*.borde
{
	width: 40%;
	margin-top: 6%;
	padding-top: 8%;
	margin-und-color: black;
	border: solid black;
	color: whitesmoke;
}
*/

.login
{

	margin-top: 13%;
	padding-left: 0%;
	height: 260px;
	width: 27%;


}

.btn_input_login::-webkit-input-placeholder {

	width: 12%;
	color: blue;

} 

.form_login
{
	margin-top: 8%;
}

.btn_login
{
	width: 200%;
	margin-top: 20px;
}
.a_login
{
	margin-left: 70px;
}

.tamanocmb
{
	width: 100%;
	height: 44px;
	border:inset;
}
.div_tamanof
{
	width: 26%;
	height: 124px;
	padding-top: 0%;
	margin-left: 2px;
}
.div_tamanobtn_cancel
{
	width: 16%;
	height: 52px;
	margin-top: -8%;
	margin-left: 342px;
	padding-top: 0%;
}
.vercorreo2
{
	margin-top: 90px;
	margin-left: 600px;
	border: solid grey;
	border-right-color:transparent;
	display: none;
	width: 53.8%;
	height: 82.3%;
}
.leermensajes
{
	width: 22%;
}
.colorbandenv{
	background-color: #402D1C;
}
.bandejas
{        
	width: 16%;
	margin-top: 12%;
	margin-left: -10%;
}
.bandejas.de
{
	text-decoration: none;

}
.posicion
{
	margin-left: -17.6%;
}
.h2{
	margin-left: -9%;
}
.h1{
	margin-left: -9%;
}
.colorfondo{

	padding-left: 13%;
}
.fotoonline
{
	margin-top: -65px;
	width: 8%;
	float: right;
	margin-right: -13px;
	height: 66px;
}
.nombre
{
	margin-left: 88%;
	margin-top: -4%;
	margin-right: 7%;
	background-color: white;
}							
.divbtnn
{
	margin-top: -1.7%;
}
.color.marcado.bandejas
{
	margin-left: -5%;
	margin-top: 0.1%;
	width: 110.1%;
}
td
{
	margin-left: 74%;
	border-bottom: solid lavender;
}
.divbtn
{
	display: none;
	float: right;
	margin-top: -12%;
	margin-right: 11%;
}
.divbtn.edit
{
	float: right;
	margin-top: -12%;
	margin-right: 3%;
}
td:hover
{
	background-color:grey;
}
.leercorreos
{
	display: none;
	margin-top: -26%;
	width: 66%;
	height: 460px;
	background-color: white;
}


/***box-shadow: 10px 0px 50px #999;***/

.divmensa
{
	margin-left: 1%;
	width: 98%;
}
@media only screen and (max-width: 627px) {
	.botonnuevot
	{
		width: 30%;
		height: 39px;
		margin-top: -1%;
		margin-left: 1%;
		background-color: #BFB8B0;
		}.bajarunpoco.grande
		{
			width: 354%;	
			font-size: 1em;
		}
		.nlban.p 
		{
			display: none;				
		}
		.posicion.nombresband
		{
			display: none;
		}
		.vermensajes
		{
			/***width: 29%;***/
			width: 105%;
			margin-left: -2%;
			margin-top: -8.7%;
		}
		.divbtnn
		{
			margin-top: -20%;
			margin-right: 8%;
		}
		.divbtn.edit
		{
			float: right;
			margin-top: -22%;
			margin-right: 3%;
		}
		.derecha{
			margin-top: 19.2%;
			margin-right: -10%;
			width: 100%;
		}
		.sombra{
			box-shadow: 0px 0px 0px #999;
		}
	}
